*::-webkit-scrollbar {
  width: 6px;
  /* vertical scrollbar width */
  height: 6px;
  /* horizontal scrollbar height */
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  /* scrollbar color */
  border-radius: 3px;
  /* rounded edges */
}

*::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.05);
  /* track background */
}

html,
body {
  overflow: hidden;
}
